// PRELIMINARY IMPORTS
//
// Import variables and mixins
@import 'partials/variables';
@import 'partials/mixins';

//fonts
@import 'partials/fonts';

/* Monospaced font for code samples */
@include font-declaration('notomono_regular', '../fonts/notomono-regular', normal, normal);
/* Regular font */
@include font-declaration('notosans-regular', '../fonts/notosans-regular', normal, normal);
/* Bold font */
@include font-declaration('notosans-bold', '../fonts/notosans-bold', 700 , normal);
/* Italic Font */
@include font-declaration('notosans-italics', '../fonts/notosans-italic', normal , italic);
/* bold-italic font */
@include font-declaration('notosans-bolditalic', '../fonts/notosans-bolditalic', 700 , italic);

// Import other partials
@import 'partials/pm/columns';
@import 'partials/pm/marginalia';
@import 'partials/pm/paragraphs';
@import 'partials/pm/lists';
@import 'partials/pm/images';
@import 'partials/pm/headings';

.container {
  width: 100%;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in 1in;
  /* Footnote related attributes */
  @footnote {
    border-top: 1px solid black;
    padding-top: 6pt;
    counter-increment: footnote;
    float: bottom;
    column-span: all;
    height: auto;
  }
}

body[data-type="article"] {
  font-family: notosans-regular, Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.375;
  // Widow and orphan control
  orphans: 4;
  widows: 2;
  // page related
  page: article;
  page-break-before: always;
  page-break-after: always;

}

section[data-type='bibliography'] {
  font-family: notosans-regular, Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.375;
  // Widow and orphan control
  orphans: 4;
  widows: 2;

  page: bibliography;
  page-break-before: always;
  page-break-after: always;

  p {
    text-align: left;
    text-indent: 0 !important;
  }
}


h1, h2, h3, h4, h5, h6,
p, li, dt, dd, figcaption {
  font-family: notosans-regular, Verdana, sans-serif;
}

h1 {
  page-break-before: always;
}

pre, code {
  font-family: notomono_regular, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

p b,
p strong,
strong, b {
  font-family: notosans-bold, Verdana, sans-serif;
}

em, i,
i, em,
p em, p i{
  font-family: notosans-italic, Verdana, sans-serif;
}

table, thead, tbody, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .5em;
}

thead tr th {
  font-weight: bold;
  padding: .5em;
  text-align: center;
}

@page article:left {
  @bottom-right {
    content: counter(page)
  }
}

@page article:right {
  @bottom-right {
    content: counter(page)
  }
}

@page bibliography:left {
  @bottom-right {
    content: counter(page)
  }
}

@page bibliography:right {
  @bottom-right {
    content: counter(page)
  }
}

@page article:blank {
  /* Need this to clean up page numbers in titlepage in Prince*/
  @top-center {
    content: "This page is intentionally left blank"
  }
  @bottom-left-corner {
    content: normal;
  }
  @bottom-right-corner {
    content: normal;
  }
}

/* Footnotes */
span.footnote {
  float: footnote;
  display: prince-footnote;
}

::footnote-marker {
  font-family: notosans-regular, verdana, sans-serif;
  content: counter(footnote)'. ';
  list-style-position: inside;
}

::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  font-size: 65%;
}

/* XReferences */
a.xref[href]::after {
  content: ' [See page ' target-counter(attr(href), page) ']'
}

/* PDF BOOKMARKS */
body[data-type='article'] h1 {
  -ah-bookmark-level: 1;
  -ah-bookmark-state: open;
  -ah-bookmark-label: content();
  prince-bookmark-level: 1;
  prince-bookmark-state: open;
  prince-bookmark-label: content();
}

body[data-type='article'] h2 {
  -ah-bookmark-level: 2;
  -ah-bookmark-state: open;
  -ah-bookmark-label: content();
  prince-bookmark-level: 2;
  prince-bookmark-state: open;
  prince-bookmark-label: content();
}

body[data-type='article'] h3 {
  -ah-bookmark-level: 3;
  -ah-bookmark-state: open;
  -ah-bookmark-label: content();
  prince-bookmark-level: 3;
  prince-bookmark-state: open;
  prince-bookmark-label: content();
}

body[data-type='article'] h4 {
  -ah-bookmark-level: 4;
  prince-bookmark-level: 4;
}

body[data-type='article'] h5 {
  -ah-bookmark-level: 5;
  prince-bookmark-level: 5;
}

body[data-type='article'] h6 {
  -ah-bookmark-level: 6;
  prince-bookmark-level: 6;
}


small,
.font-small {
  font-size: .833em;
}

.justified {
  text-align: justify;
}

pre {
  background-color: #ddd;
  padding: 1em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.footnote {
  font-family: notosans-regular, verdana, sans-serif ;
}


figure {
  counter-increment: figure-count;
  margin: 12pt 0;
  max-width: min-content;

  img {
    max-width: auto;
    max-height: auto;
  }

  figcaption {
    font-size: .75rem;
    color: rgb(51, 51, 51);
  }

  figcaption::before {
    content: 'Figure ' counter(figure-count) ': ';
    max-width: min-content;
  }
}
/* Informational messages */
.message {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  padding: .5em;
  margin: 1em 0;

  &.info {
    background-color: lightblue;
  }

  &.warning {
    background-color: lightyellow;
  }

  &.danger {
    background-color: indianred;
  }
}
