// Modular scale import
@import 'modular-scale/modular-scale';
// Coloe variables
@import 'partials/variables';
// Mixins
@import 'partials/mixins';
// Import generic styles
@import 'partials/generic';
// Font declarations
@import 'partials/fonts';
// Media queries
@import 'partials/mq';
// Include headings mixin
@import 'partials/headings';
// flexbox partials
@import 'partials/flexbox';
// images partials
@import 'partials/images';
// import columns
@import 'partials/columns';
// Grid wrapper
@import 'partials/grids';
// import table stuff
@import 'partials/tables';
// import paragraph and blockuotes
@import 'partials/paragraphs-blockquotes';
// import media references
@import 'partials/media';

//Add @font-face declarations
//
//Notice that for Noto Sans we add 4 different font faces to eliminate the possibility of synthetic bold or italics font
//
//These will be loaded with the load-fonts.js script
/* Monospaced font for code samples */
@include font-declaration('notomono-regular', '../fonts/notomono-regular', normal, normal);
/* Regular font */
@include font-declaration('notosans-regular', '../fonts/notosans-regular', normal, normal);
/* Bold font */
@include font-declaration('notosans-bold', '../fonts/notosans-bold', 700 , normal);
/* Italic Font */
@include font-declaration('notosans-italics', '../fonts/notosans-italic', normal , italic);
/* bold-italic font */
@include font-declaration('notosans-bolditalic', '../fonts/notosans-bolditalic', 700 , italic);

// Local variables for modular scale
$ms-base: 1em;
$ms-ratio: 1.25;


.container {
  margin: 0 auto;
  width: 60%;
}

.flexbox-row-forward {
  @include flex_row_forward();
}

.flexbox-row-back {
  @include flex_row_back();
}

.flexbox-col-forward {
  @include flex_column_forward();
}

.flexbox-col-back {
  @include flex-column_back();
}

.flex-item {
  @include flex_item();
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Column predefined classes */
.cols-2 {
  @include column-attribs(2, 2em);
}

.cols-3 {
  @include column-attribs(3);
}

.cols-20em-fixed {
  @include fixed-column-attribs(20em);
}

.cols-10em-fixed {
  @include fixed-column-attribs(10em);
}

//grid-related  selectors for the template
// DEFINE THE GRID CONTAINER
.grid-wrapper{  /* autoprefixer: off*/
  @include generate-grid(15);
}
// PLACE HEADER
#header {    /* autoprefixer: off*/
  grid-column: 1/-1;
  grid-row: 1/2;
}
// PLACE MENU
#menu {    /* autoprefixer: off*/
  grid-column: 2/10;
  grid-row: 3 / -1;
}
// PLACE CONTENT
#content {   /* autoprefixer: off*/
  grid-column: 12 /28;
  grid-row: 3 / -1;
}

/* hide menu item bullets */
.menu-item-link  {
  list-style: none;
  margin-left: -3em;
}


/* Include media queries for your project here*/
