<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>athena</string>
		<string>images</string>
		<string>polymer</string>
		<string>Topic Maps</string>
		<string>web-tutorials</string>
		<string>xsl-fo-code</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3d-web-and-webvr.md</string>
		</array>
		<array>
			<string>a-new-search-of-sunrise.md</string>
		</array>
		<array>
			<string>accessibility.md</string>
		</array>
		<array>
			<string>ahl-polyfill.js</string>
		</array>
		<array>
			<string>american-gods.md</string>
		</array>
		<array>
			<string>ams-day-4.md</string>
		</array>
		<array>
			<string>ams-final-reflection.md</string>
		</array>
		<array>
			<string>angular-directive.md</string>
		</array>
		<array>
			<string>athenav2.md</string>
		</array>
		<array>
			<string>beacons.md</string>
		</array>
		<array>
			<string>blending.md</string>
		</array>
		<array>
			<string>blog-starter-kit.md</string>
		</array>
		<array>
			<string>book-web-interfaces.md</string>
		</array>
		<array>
			<string>books-as-apps.md</string>
		</array>
		<array>
			<string>bucket-list.md</string>
		</array>
		<array>
			<string>cdn-remote-loading.md</string>
		</array>
		<array>
			<string>charge-of-the-light-brigade.txt</string>
		</array>
		<array>
			<string>collaborative-writing.md</string>
		</array>
		<array>
			<string>content-generator.md</string>
		</array>
		<array>
			<string>content-optimization-for-the-web.md</string>
		</array>
		<array>
			<string>creating-print-stylesheets.md</string>
		</array>
		<array>
			<string>css-supports-and-namespaces.md</string>
		</array>
		<array>
			<string>d3-layout-fajita.md</string>
		</array>
		<array>
			<string>dad.md</string>
		</array>
		<array>
			<string>data-vis.md</string>
		</array>
		<array>
			<string>defining-success.md</string>
		</array>
		<array>
			<string>design-philosophy.md</string>
		</array>
		<array>
			<string>digital-publishing.md</string>
		</array>
		<array>
			<string>eme.md</string>
		</array>
		<array>
			<string>end-of-year-reflection.md</string>
		</array>
		<array>
			<string>erotic-ontology-of-cyberspace.md</string>
		</array>
		<array>
			<string>exclusions.md</string>
		</array>
		<array>
			<string>famo.us.md</string>
		</array>
		<array>
			<string>fear.md</string>
		</array>
		<array>
			<string>fluent-workshops-notes.md</string>
		</array>
		<array>
			<string>font-size-adjust.md</string>
		</array>
		<array>
			<string>font-synthesis.md</string>
		</array>
		<array>
			<string>gdg.md</string>
		</array>
		<array>
			<string>git-for-publishers.md</string>
		</array>
		<array>
			<string>git.md</string>
		</array>
		<array>
			<string>github-publishing-workflow.md</string>
		</array>
		<array>
			<string>hdpi-mediaqueries.md</string>
		</array>
		<array>
			<string>HTML-final-format-not-initial-source.md</string>
		</array>
		<array>
			<string>interview-kenji-kamiyama.md</string>
		</array>
		<array>
			<string>javascript-toc.md</string>
		</array>
		<array>
			<string>json-as-metadata.md</string>
		</array>
		<array>
			<string>megan-devine.md</string>
		</array>
		<array>
			<string>metaverse.md</string>
		</array>
		<array>
			<string>moving-IBA-CSS-to-a-generic-CSS-format.md</string>
		</array>
		<array>
			<string>multimedia.js</string>
		</array>
		<array>
			<string>my-thoughts-on-ferguson.md</string>
		</array>
		<array>
			<string>namespaces-in-CSS.md</string>
		</array>
		<array>
			<string>opf.txt</string>
		</array>
		<array>
			<string>package-generator.md</string>
		</array>
		<array>
			<string>package-in-json.md</string>
		</array>
		<array>
			<string>paged-media-css.md</string>
		</array>
		<array>
			<string>project-ideas-new.md</string>
		</array>
		<array>
			<string>projects-ideas.md</string>
		</array>
		<array>
			<string>rant.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>reflections-trip-to amsterdam.md</string>
		</array>
		<array>
			<string>regions.md</string>
		</array>
		<array>
			<string>review-2014.md</string>
		</array>
		<array>
			<string>sass-links-and-resources.md</string>
		</array>
		<array>
			<string>service-workers.md</string>
		</array>
		<array>
			<string>service-workers2.md</string>
		</array>
		<array>
			<string>shapes-additional.txt</string>
		</array>
		<array>
			<string>shapes.md</string>
		</array>
		<array>
			<string>specialized-font-subsets.md</string>
		</array>
		<array>
			<string>stories.md</string>
		</array>
		<array>
			<string>story-notes-ideas.md</string>
		</array>
		<array>
			<string>subsetting.md</string>
		</array>
		<array>
			<string>svg-clip-path.md</string>
		</array>
		<array>
			<string>taking-production-seriously.md</string>
		</array>
		<array>
			<string>test.js</string>
		</array>
		<array>
			<string>toc.js</string>
		</array>
		<array>
			<string>topic-maps.md</string>
		</array>
		<array>
			<string>trimming-css-fat.md</string>
		</array>
		<array>
			<string>typography.md</string>
		</array>
		<array>
			<string>typography2.md</string>
		</array>
		<array>
			<string>typography3.md</string>
		</array>
		<array>
			<string>uncss-and-bootstrap.md</string>
		</array>
		<array>
			<string>url-shorteners.md</string>
		</array>
		<array>
			<string>video-component.md</string>
		</array>
		<array>
			<string>video-in-epub.md</string>
		</array>
		<array>
			<string>wds-derek-sivers.md</string>
		</array>
		<array>
			<string>wds-john-accuff.md</string>
		</array>
		<array>
			<string>wds-lewis-howles.md</string>
		</array>
		<array>
			<string>wds-tess-vigeland.md</string>
		</array>
		<array>
			<string>web-components-deepdive.md</string>
		</array>
		<array>
			<string>web-components-how-to-use.md</string>
		</array>
		<array>
			<string>web-components.md</string>
		</array>
		<array>
			<string>what-ive-learned.md</string>
		</array>
		<array>
			<string>xml-books-on-demand.md</string>
		</array>
		<array>
			<string>xml-workflow-xsl-fo.md</string>
		</array>
		<array>
			<string>xslt-custom.md</string>
		</array>
	</array>
</dict>
</plist>
