@charset "UTF-8";
/* Default body style */
/* This will match if the fonts failed to load. It is identical to the default but doesn't have to be*/
.fonts-failed body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  -webkit-text-decoration-skip: ink;
  -moz-text-decoration-skip: ink;
  -ms-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* This will match when fonts load successfully */
.fonts-loaded body {
  font-family: notosans-regular, verdana, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  -webkit-text-decoration-skip: ink;
  -moz-text-decoration-skip: ink;
  -ms-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

em,
i {
  font-family: notosans-italic, Verdana, sans-serif;
  font-style: italic;
}

em em {
  font-family: notosans-regular, Verdana, sans-serif;
}

strong,
b {
  font-family: notosans-bold, Verdana, sans-serif;
  font-weight: 700;
}

strong em,
em strong {
  font-family: notosans-bolditalic, Verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Informational messages */
.message {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  padding: 0.5em;
  margin: 1em 0;
}
.message.info {
  background-color: lightblue;
}
.message.info p:first-of-type::before {
  content: "Note: \a\a";
  clear: both;
  font-size: 1.5em;
  font-weight: bold;
  white-space: pre;
}
.message.warning {
  background-color: lightyellow;
}
.message.warning p:first-of-type::before {
  content: "Warning: \a\a";
  clear: both;
  font-size: 1.5em;
  font-weight: bold;
  white-space: pre;
}
.message.danger {
  background-color: indianred;
}
.message.danger p:first-of-type::before {
  content: "Danger: \a\a";
  clear: both;
  font-size: 1.5em;
  font-weight: bold;
  white-space: pre;
}

/* adds a the content text to all links that go to vimeo or youtube */
li a[href*=youtube]::before,
li a[href*=vimeo]::before {
  content: "(Video) ";
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 1.05;
}
@media screen and (min-width: 37.5em) and (max-width: 50em) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}
@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 2em;
    line-height: 1.25;
  }
}

h2 {
  font-size: 2.25em;
  line-height: 1.25;
}
@media screen and (min-width: 37.5em) and (max-width: 50em) and (-webkit-min-device-pixel-ratio: 1) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}
@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
  }
}

h3 {
  font-size: 1.75em;
  line-height: 1.25;
}
@media screen and (min-width: 37.5em) and (max-width: 50em) and (-webkit-min-device-pixel-ratio: 1) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}
@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.25;
}
@media screen and (min-width: 37.5em) and (max-width: 50em) and (-webkit-min-device-pixel-ratio: 1) {
  h4 {
    font-size: 1.125em;
    line-height: 1.222222;
  }
}
@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  h4 {
    font-size: 1.125em;
    line-height: 1.111111;
  }
}

h5 {
  font-size: 2.6180340252em;
  line-height: 1.25;
}

h6 {
  font-size: 1.618034em;
  line-height: 1.25;
}

/* Flexbox related classes */
figure {
  counter-increment: figure-count;
  max-width: 100%;
}
figure img {
  max-height: auto;
  max-width: inherit;
}
figure figcaption {
  font-size: 0.75rem;
  color: rgb(51, 51, 51);
}
figure figcaption::before {
  content: "Figure " counter(figure-count) ": ";
}

table {
  border-collapse: collapse;
  width: 100%;
}
table tbody {
  border: 1px solid black;
}
table tbody tr:nth-child(even) {
  background-color: #9e9e9e;
}
table th {
  border: 1px solid black;
  font-family: notosans_bold, verdana, sans-serif;
  padding: 0.5em;
  text-align: center;
}
table td {
  border: 1px solid black;
  padding: 0.5em;
}

blockquote {
  font-size: 1.1em;
  line-height: 1.458333;
  border-left: 0.5em solid #607d8b;
  padding-left: 1.5em;
}

@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  blockquote {
    font-size: 1.1em;
    line-height: 1.25;
  }
}
p:not:first-of-type {
  text-indent: 2em;
}

blockquote .larger {
  font-family: "jubilat", Georgia, Times, "Times New Roman", serif;
  border-top: 2px solid #b70000;
  border-bottom: 2px solid #b70000;
  margin-bottom: 1em;
  padding: 1em 0;
  overflow: hidden;
}
blockquote .larger :before {
  display: block;
  content: "“";
  font: 700 154px/1em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 0.35em;
  color: #b70000;
  float: left;
  position: relative;
  top: -0.075em;
}

p {
  font-size: 1rem;
}

video,
object {
  clear: both;
  display: block;
  margin: 1em auto;
  max-width: 100% !important;
  height: auto !important;
}

.video {
  margin: 2em 0;
}
.video p {
  font-style: italic;
  font-weight: 700;
  margin-top: -0.125em;
}
.video iframe {
  clear: both;
  display: block;
  margin: 1em auto;
  max-width: inherit;
  text-align: center;
}

/* Monospaced font for code samples */
@font-face {
  font-family: "notomono-regular";
  src: url("../fonts/notomono-regular.eot");
  src: url("../fonts/notomono-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notomono-regular.woff2") format("woff2"), url("../fonts/notomono-regular.woff") format("woff"), url("../fonts/notomono-regular.ttf") format("truetype"), url("../fonts/notomono-regular.svg#notomono-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Regular font */
@font-face {
  font-family: "notosans-regular";
  src: url("../fonts/notosans-regular.eot");
  src: url("../fonts/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular.woff2") format("woff2"), url("../fonts/notosans-regular.woff") format("woff"), url("../fonts/notosans-regular.ttf") format("truetype"), url("../fonts/notosans-regular.svg#notosans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Bold font */
@font-face {
  font-family: "notosans-bold";
  src: url("../fonts/notosans-bold.eot");
  src: url("../fonts/notosans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold.woff2") format("woff2"), url("../fonts/notosans-bold.woff") format("woff"), url("../fonts/notosans-bold.ttf") format("truetype"), url("../fonts/notosans-bold.svg#notosans-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* Italic Font */
@font-face {
  font-family: "notosans-italics";
  src: url("../fonts/notosans-italic.eot");
  src: url("../fonts/notosans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic.woff2") format("woff2"), url("../fonts/notosans-italic.woff") format("woff"), url("../fonts/notosans-italic.ttf") format("truetype"), url("../fonts/notosans-italic.svg#notosans-italics") format("svg");
  font-weight: normal;
  font-style: italic;
} /* bold-italic font */
@font-face {
  font-family: "notosans-bolditalic";
  src: url("../fonts/notosans-bolditalic.eot");
  src: url("../fonts/notosans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bolditalic.woff2") format("woff2"), url("../fonts/notosans-bolditalic.woff") format("woff"), url("../fonts/notosans-bolditalic.ttf") format("truetype"), url("../fonts/notosans-bolditalic.svg#notosans-bolditalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
.container {
  margin: 0 auto;
  width: 60%;
}

.flexbox-row-forward {
  display: flex;
  flex-flow: row wrap;
}

.flexbox-row-back {
  display: flex;
  flex-flow: row-reverse wrap;
}

.flexbox-col-forward {
  display: flex;
  flex-flow: column wrap;
}

.flexbox-col-back {
  display: flex;
  flex-flow: column-reverse wrap;
}

.flex-item {
  flex: 1 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Column predefined classes */
.cols-2 {
  column-count: 2;
  column-gap: 2em;
  column-fill: balance;
  column-span: none;
}

.cols-3 {
  column-count: 3;
  column-gap: 1em;
  column-fill: balance;
  column-span: none;
}

.cols-20em-fixed {
  column-width: 20em;
  column-gap: 1em;
  column-fill: balance;
  column-span: none;
}

.cols-10em-fixed {
  column-width: 10em;
  column-gap: 1em;
  column-fill: balance;
  column-span: none;
}

.grid-wrapper { /* autoprefixer: off*/
  /* autoprefixer: off*/
  display: grid;
  grid-template-columns: 1fr repeat(14, 10px 1fr);
  grid-template-rows: repeat(10, 100px 10px);
}

#header { /* autoprefixer: off*/
  grid-column: 1/-1;
  grid-row: 1/2;
}

#menu { /* autoprefixer: off*/
  grid-column: 2/10;
  grid-row: 3/-1;
}

#content { /* autoprefixer: off*/
  grid-column: 12/28;
  grid-row: 3/-1;
}

/* hide menu item bullets */
.menu-item-link {
  list-style: none;
  margin-left: -3em;
}

/* Include media queries for your project here*/
/*# sourceMappingURL=maps/main.css.map */
