<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>images</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>content.md</string>
		</array>
		<array>
			<string>polymer-concepts-tips-and-tricks.md</string>
		</array>
		<array>
			<string>polymer-grunt-automation.md</string>
		</array>
		<array>
			<string>polymer-lessons-learned.md</string>
		</array>
		<array>
			<string>polymer-part1-intro.md</string>
		</array>
		<array>
			<string>polymer-part2-getting-started.md</string>
		</array>
	</array>
</dict>
</plist>
