// Builds figures with different alignments
@mixin figure($border-color: $red, $width: 100%, $align: center) {
  figure {
    @if $border-color {
      border: 1px solid $border-color;
    }


    img {
      width: $width;
      max-width: $width;
      @if($align == left)  {
        float: left;
        margin: 2em 0;
      } @else if($align  == center) {
        margin: 2em auto;
      } @else {
        float: right;
        margin: 2em 0;
      }

    }

    figcaption {
      max-width: max-content;
    }
  }
}
