// PARAGRAPH STYLES
p {
  font-size: 1em;
  margin-bottom: 1.3em;

  + p {
    text-indent: 2em;
  }
}

// Take the first line of the first paragraph after an h1 and make it 10% larger
// Do it in a class rather than automatic to give authors the option. If you want
// to do it automatically, use the commented line below and comment the line
// starting with .first-line
// h1 + p::first-line {
.first-line {
  font-size: 1.1em;
  text-indent: 0;
  text-transform: uppercase;
}

// Dropcap the first letter of the first paragraph after an h1. Do it in a class
// to make it a choice rather than do it automatically. If you want to do it
// automatically uncomment the line below and comment the line starting
// with .first-letter
// h1 + p::first-letter {
.first-letter {
  float: left;
  font-size: 7em;
  line-height: .8em;
  margin-bottom: -.1em;
  padding-right: .1em;
}
