<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>css</string>
		<string>js</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>html.wiki</string>
		</array>
		<array>
			<string>part1.wiki</string>
		</array>
		<array>
			<string>part2.wiki</string>
		</array>
		<array>
			<string>part3.wiki</string>
		</array>
		<array>
			<string>part4.wiki</string>
		</array>
		<array>
			<string>part5.wiki</string>
		</array>
		<array>
			<string>web-tutorials.md</string>
		</array>
	</array>
</dict>
</plist>
