

/* @link https://utopia.fyi/generator-mk-ii?c=320,21,1.2,1600,24,1.25,5,5, */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1600;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1600px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--5-min: 8.44;
  --f--5-max: 7.86;
  --step--5: calc(
    ((var(--f--5-min) / 16) * 1rem) + (var(--f--5-max) - var(--f--5-min)) *
      var(--fluid-bp)
  );

  --f--4-min: 10.13;
  --f--4-max: 9.83;
  --step--4: calc(
    ((var(--f--4-min) / 16) * 1rem) + (var(--f--4-max) - var(--f--4-min)) *
      var(--fluid-bp)
  );

  --f--3-min: 12.15;
  --f--3-max: 12.29;
  --step--3: calc(
    ((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) *
      var(--fluid-bp)
  );

  --f--2-min: 14.58;
  --f--2-max: 15.36;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 17.50;
  --f--1-max: 19.20;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 21.00;
  --f-0-max: 24.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 25.20;
  --f-1-max: 30.00;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 30.24;
  --f-2-max: 37.50;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 36.29;
  --f-3-max: 46.88;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 43.55;
  --f-4-max: 58.59;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 52.25;
  --f-5-max: 73.24;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

@supports (clamp(0.5275rem, 0.5366rem + -0.0453vw, 0.4913rem)) {
  /* @link https://utopia.fyi/generator-mk-ii?c=320,21,1.2,1600,24,1.25,5,5, */

  :root {
    --step--5: clamp(0.5275rem, 0.5366rem + -0.0453vw, 0.4913rem);
    --step--4: clamp(0.6331rem, 0.6378rem + -0.0234vw, 0.6144rem);
    --step--3: clamp(0.7594rem, 0.7572rem + 0.0109vw, 0.7681rem);
    --step--2: clamp(0.9113rem, 0.8991rem + 0.0609vw, 0.96rem);
    --step--1: clamp(1.0938rem, 1.0672rem + 0.1328vw, 1.2rem);
    --step-0: clamp(1.3125rem, 1.2656rem + 0.2344vw, 1.5rem);
    --step-1: clamp(1.575rem, 1.5rem + 0.375vw, 1.875rem);
    --step-2: clamp(1.89rem, 1.7766rem + 0.5672vw, 2.3438rem);
    --step-3: clamp(2.2681rem, 2.1027rem + 0.8273vw, 2.93rem);
    --step-4: clamp(2.7219rem, 2.4869rem + 1.175vw, 3.6619rem);
    --step-5: clamp(3.2656rem, 2.9377rem + 1.6398vw, 4.5775rem);
  }
}
