:root {
    /* generic margin values*/
    --margin-small-centered: 0.5em 0;
    --margin-normal-centered: 1em 0;
    --margin-large-centered: 2em 0;
    /* generic margin values*/
    --margin-small-centered: 0.5em;
    --margin-normal-centered: 1em;
    --margin-large-centered: 2em;
    /* generic padding values */
    --padding-small: 0.5em;
    --padding-normal: 1em;
    --padding-large: 2em;
    /* message common attributes */
    --message-bordercolor: rgba(0, 0, 0, 1);
    --message-bordertype: solid;
    --message-borderthickness: 1px;
    --message-borderradius: 10px;
    /* info background color */
    --message-info--backgroundcolor: rgba(176, 216, 230, 1);
    /* warning background color */
    --message-warning--backgroundcolor: rgba(255, 255, 224, 1);
    /* danger background color */
    --message-danger--backgroundcolor: rgba(205, 92, 92, 1);
}

.message {
    border-color: var(--message-bordercolor);
    border-style: var(--message-bordertype);
    border-width: var(--message-borderthickness);
    border-radius: var(--message-borderradius);
    margin: var(--margin-normal-centered);
    padding: var(--padding-small);
}

.info {
    background-color: var(--message-info--backgroundcolor);
}

.warning {
    background-color: var(--message-warning--backgroundcolor);
}

.danger {
    background-color: var(--message-danger--backgroundcolor);
}
