/* Flexbox related classes */

@mixin flex_row_forward() {
  display: flex;
  flex-flow: row wrap;
  @content
}

@mixin flex_row_back() {
  display: flex;
  flex-flow: row-reverse wrap;
  @content
}

@mixin flex_column_forward() {
  display: flex;
  flex-flow: column wrap;
  @content
}

@mixin flex_column_back() {
  display: flex;
  flex-flow: column-reverse wrap;
}

@mixin flex_item() {
  flex: 1 0 auto;
}
