/* Default body style */

// body {
//     font-family: Verdana, sans-serif;
//     font-size: 16px;
//     line-height: 1.275;
//     -webkit-text-decoration-skip: ink;
//     -moz-text-decoration-skip: ink;
//     -ms-text-decoration-skip: ink;
//     text-decoration-skip-ink: auto;
// }


/* This will match if the fonts failed to load. It is identical to the default but doesn't have to be*/

.fonts-failed body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    -webkit-text-decoration-skip: ink;
    -moz-text-decoration-skip: ink;
    -ms-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}


/* This will match when fonts load successfully */

.fonts-loaded body {
    font-family: notosans-regular, verdana, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    -webkit-text-decoration-skip: ink;
    -moz-text-decoration-skip: ink;
    -ms-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

// We need to assign specific font faces to specific styles (bold, italic, bold/italic
em,
i {
    font-family: notosans-italic, Verdana, sans-serif;
    font-style: italic;
}

em em {
    font-family: notosans-regular, Verdana, sans-serif;
}

strong,
b {
    font-family: notosans-bold, Verdana, sans-serif;
    font-weight: 700;
}

strong em,
em strong {
    font-family: notosans-bolditalic, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
}

// code {
//     background-color: #ededed;
//     font-family: notomono-regular, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
// }


/* Informational messages */

.message {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    padding: .5em;
    margin: 1em 0;
    &.info {
        background-color: lightblue;
        p:first-of-type::before {
            content: "Note: \A\A";
            clear: both;
            font-size: 1.5em;
            font-weight: bold;
            white-space: pre;
        }
    }
    &.warning {
        background-color: lightyellow;
        p:first-of-type::before {
            content: "Warning: \A\A";
            clear: both;
            font-size: 1.5em;
            font-weight: bold;
            white-space: pre;
        }
    }
    &.danger {
        background-color: indianred;
        p:first-of-type::before {
            content: "Danger: \A\A";
            clear: both;
            font-size: 1.5em;
            font-weight: bold;
            white-space: pre;
        }
    }
}

/* adds a the content text to all links that go to vimeo or youtube */
li a[href*="youtube"]::before,
li a[href*="vimeo"]::before {
  content: "(Video) ";
  font-weight: bold;
}
