// Grids mixins and demos


@mixin generate-grid($columns: 15, $gap: 10px) { /* autoprefixer: off*/
  display: grid;
  grid-template-columns: 1fr repeat(($columns - 1), #{$gap} 1fr);
  grid-template-rows: repeat(10, 100px #{$gap});
}

@mixin generate-fluid-grid($min-size: 100px, $max-size: 1fr, $gap: 10px) { /* autoprefixer: off*/
  display: grid;
  grid-gap: #{$gap};
  grid-template-columns: repeat(auto-fill, minmax(#{$min-size}, #{$max-size}));
  grid-template-rows: 1fr;
}

@mixin place-item($col_start: 1, $col_end: 1, $row_start: 1, $row_end: 1) {
  grid-column: #{$col_start} / #{$col_end};
  grid-row: #{$row_start} / #{$row_end};
}
