@import 'mq';

h1 {
  font-size: 3em;
  line-height: 1.05;


  @include media-queries(tablet) {
    font-size: 2.5em;
    line-height: 1.125;
  }

  @include media-queries(phone) {
    font-size: 2em;
    line-height: 1.25;
  }
}
h2 {
  font-size: 2.25em;
  line-height: 1.25;

  @include media-queries(tablet) {
    font-size: 2em;
    line-height: 1.25;
  }

  @include media-queries(phone) {
    font-size: 1.625em;
    line-height: 1.15384615;
  }
}
h3 {
  font-size: 1.75em;
  line-height: 1.25;

  @include media-queries(tablet) {
    font-size: 1.5em;
    line-height: 1.25;
  }

  @include media-queries(phone) {
    font-size: 1.375em;
    line-height: 1.13636364;
  }
}
h4 {
  font-size: 1.125em;
  line-height: 1.25;

  @include media-queries(tablet) {
    font-size: 1.125em;
    line-height: 1.222222;
  }

  @include media-queries(phone) {
    font-size: 1.125em;
    line-height: 1.111111;
  }
}
h5 {
  font-size: ms(2);
  line-height: 1.25;
}
h6 {
  font-size: ms(1);
  line-height: 1.25;
}

