// Builds figures with different alignments
figure {
  counter-increment: figure-count;
  max-width: 100%;

  img {
    max-height: auto;
    max-width: inherit;
  }

  figcaption {
    font-size: .75rem;
    color: rgb(51, 51, 51);
  }

  figcaption::before {
    content: 'Figure ' counter(figure-count) ': ';
  }
}

@mixin image($width: 100%, $align: center) {
img {
  @if ($align == left) {
    float: left;
    margin: 2em 0;
  } @else if ($align  == center) {
    margin: 2em auto;
  } @else {
    float: right;
    margin: 2em 0;
  }

  width: $width;
}
}

