video,
object {
  clear: both;
  display: block;
  margin: 1em auto;
  max-width: 100% !important;
  height: auto !important;
}

.video {
  margin: 2em 0;

  p {
    font-style: italic;
    font-weight: 700;
    margin-top: -.125em
  }

  iframe {
      clear: both;
      display: block;
      margin: 1em auto;
      max-width: inherit;
      text-align: center
  }
}

