
blockquote {
  font-size: 1.1em;
  line-height: 1.458333;
  border-left: 0.5em solid #607d8b;
  padding-left: 1.5em;
}
@media screen and (min-width: 20em) and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) {
  blockquote {
    font-size: 1.1em;
    line-height: 1.25;
  }
}

p:not:first-of-type {
  text-indent: 2em;
}


blockquote .larger {
  font-family: "jubilat", Georgia, Times, "Times New Roman", serif;
  border-top: 2px solid #b70000;
  border-bottom: 2px solid #b70000;
  margin-bottom: 1em;
  padding: 1em 0;
  overflow: hidden;

  :before {
    display: block;
    content: "\201C";
    font: 700 154px/1em "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 0.35em;
    color: #b70000;
    float: left;
    position: relative;
    top: -0.075em;
  }
}

p {
  font-size: 1rem;
}
