table {
  border-collapse: collapse;
  width: 100%;

  tbody {
    border: 1px solid black;

    tr:nth-child(even) {
      background-color: #9e9e9e;
    }
  }

  th {
    border: 1px solid black;
    font-family: notosans_bold, verdana, sans-serif;
    padding: .5em;
    text-align: center;
  }

  td {
    border: 1px solid black;
    padding: .5em;
  }
}
